ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  height: 18px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 18px;
}

@media screen and (max-width: 360px) {
  .square {
    display: none;
  }
}

.square:focus {
  outline: none;
}

.square:hover {
  outline: none;
  background-color: lightgray;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-room {
  padding: 0px 15px;
}

.game-room-section {
  margin-left: 20px;
}

.game-info {
  margin-left: 20px;
}

.game-option {
  margin-left: 20px;
}

.move {
  border: black solid 1px;
  background-color: white;
}

.move-selected {
  border: black solid 1px;
  background-color: orange;
}

.highlight {
  background-color: orange;
}

.card {
  margin: 50px auto;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.asterisk {
  color: red;
}

.title {
  margin: 10px 20px;
}

.subtitle {
  margin: 20px 20px;
}
:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

a {
	text-decoration: none !important;
}

ol {
  margin: 0px !important;
}

/* Chat Page */


/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

.game-play {
  background-color: lightgreen;
}

.game-settings {
  background-color: lightblue;
}